@use './mixins' as *;
@use './variables' as *;
@use './_fonts';

html {
    font-size: 100%;
}

body {
    font-family: $font-family;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    font-size: 3.125rem;
}

h3 {
    font-size: 2rem;
}