@use './mixins' as *;
@use './variables' as *;
@use './_fonts';

html {
    font-size: 100%;
}

body {
    font-family: $font-family;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    font-size: 3.125rem;
}

h3 {
    font-size: 2rem;
}

button {
    background-color: black;
    color: $secondary-light;
    border-radius: .3125rem;
    padding: 0.625rem 1.25rem;
    font-size: 1.125rem;
    font-family: $font-family;
    margin: 0 0.625rem;
    cursor: pointer;
}

button:hover,
button:focus {
    box-shadow: 0 0.5rem 0.5rem -0.4rem;
    transform: translateY(-0.25rem);
    color: $focus;
}