@use './_fonts';

$primary-dark: #320E3B;
$primary-light: #DBFCFF;
$primary-bg: #7F96FF;
$secondary-light: #FFF;
$secondary-dark: #A6CFD5;
$focus: #E56399;
$danger: #FF3E3E;

$dropshadow: rgba(0, 0, 0, 0.20);

$font-family: "MouseMemoirs", Arial, Helvetica, sans-serif;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;