@use './partials/reset' as *;
@use './partials/global' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;


/* Card styles */
.game {
    width: 100%;
    text-align: center;

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 1rem;

        &--easy {
            margin: 0 auto;
        }
    }

    &__card {
        margin: 1.25rem;
        width: 9.375rem;
        height: 9.375rem;
        perspective: 62.5rem;
        background-color: transparent;

        @include tablet {
            width: 12.5rem;
            height: 15.625rem;
        }

        &:hover &-content {
            transform: rotateY(180deg);
        }

        &-row {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        &-content {
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            border-radius: 0.3125rem;
            border: 0.0625rem solid $dropshadow;
            box-shadow: 0rem 0.25rem 0.25rem 0.0625rem $dropshadow,
                0rem 0.25rem 0.25rem 0.0625rem $dropshadow;
        }

        &-front,
        &-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-radius: 0.3125rem;
        }

        &-front {
            background-color: #BBB;
        }

        &-back {
            background-color: $primary-dark;
        }
    }
}