@use './partials/reset' as *;
@use './partials/global' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;


.main-body {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.banner span {
    margin: 0 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 6.25rem;
    color: $primary-light;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s);

    @keyframes flip {

        0%,
        80% {
            transform: rotateY(360deg);
        }
    }

    @include desktop {
        display: inline-block;
        font-size: 10.9375rem;
    }
}

.container {
    text-align: center;
    margin-top: 1.25rem;
}

.button-container {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__text {
        font-size: 3.125rem;
        padding-top: 1.875rem;
        padding-bottom: 0.938rem;
        color: $primary-dark;
    }

    &__B1,
    &__B2,
    &__B3 {
        margin-bottom: 0.625rem;
        font-size: 1.875rem;
        width: 15rem;
    }
}