@use './partials/reset' as *;
@use './partials/global' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: $primary-bg;
}

// .banner {
//     font-size: 70px;
//     color: white;
//     text-align: center;
//     padding: 1.25rem;
//     width: 100%;
// box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
// }
.banner span {
    margin-right: 2rem;
    position: relative;
    display: inline-block;
    font-size: 10.9375rem;
    color: $primary-light;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s);

    @keyframes flip {

        0%,
        80% {
            transform: rotateY(360deg);
        }
    }
}

.container {
    text-align: center;
    margin-top: 1.25rem;
}

.button-container {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container__text {
    font-size: 3.125rem;
    padding-top: 1.875rem;
    padding-bottom: 0.938rem;
}

button {
    background-color: black;
    color: $secondary-light;
    border-radius: .3125rem;
    padding: 0.625rem 1.25rem;
    font-size: 1.125rem;
    margin: 0 0.625rem;
    cursor: pointer;
}

button:hover,
button:focus {
    box-shadow: 0 0.5rem 0.5rem -0.4rem;
    transform: translateY(-0.25rem);
    color: $focus;
}

.button-container__B1,
.button-container__B2,
.button-container__B3 {
    margin-bottom: 0.625rem;
    font-size: 1.875rem;
    width: 15rem;
}