@use './partials/reset' as *;
@use './partials/global' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: $primary-bg;
}
.rulesBannerText {
    font-size: 70px;
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem;
}
.rulesDetails__Details {
    padding-left: 1.875rem;
}