@use './partials/reset' as *;
@use './partials/global' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;


.rulesContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: $primary-bg;
}

.rulesBannerText {
    margin-top: 2rem;
    font-size: 100px;
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem;
    color: #DBFCFF;
}

.rulesDetails {
    &__container {
        padding-top: 3.125rem;
    }

    &__list--item {
        font-size: 50px;
        margin-bottom: .625rem;
        padding: 1.25rem;
        text-align: center;
        color: #320e3b;
    }

    &__list {
        margin: 0 1rem;
        border: 2px inset #E56399;
    }

    &__button {
        margin-top: 3rem;
    }
}